extends ../layouts/default

block intro
	.container
		h1 Electricity and Gas

block content
	.container
		.row
			.col-sm-12
				ul
					li
						| Many businesses are unaware of their energy contract end dates. This enables Energy Suppliers 
						| to roll over the current energy agreement into another contract on high un-negotiated rates. 
						| At Buy Electricity Online we will monitor you throughout the term of the contract making sure 
						| that the transfer from your existing supplier to your new supplier goes through smoothly. 
						| Our free service lasts for the duration of the supply agreement.
					li We offer a bespoke quotation and therefore we need to see a bill.
				p: b What do to next?
				ul
					li
						| Fill in your details on the contact us page or simply fax your most recent electricity/gas 
						| bill to us on 0870 139 1555 with your contact details.
					li 
						| To find out what savings your company can make on its energy spend all we ask is that you 
						| give us your permission to seek quotes on your behalf from the suppliers.
					
					li We will be back to you within 24 hours.
					li 
						| We are so confident of our service that, unlike many other brokers, we do not ask you to 
						| enter into an agreement. All we require is a letter of authority to proceed. Buy Electricity 
						| Online approach all of the major suppliers on your behalf in order to obtain the most 
						| competitive quote. We then present the offers to you and advise you accordingly.
