extends ../layouts/default

block content
	.container
		
		#about.section
			include ../partials/about
			
		#services.section.services-section
			include ../partials/services

		#blog.section.blog-section
			include ../partials/blog
			
		#partners.section
			include ../partials/partners
			
		#contact.section.contact-section
			include ../partials/contact
		
		
		
	script(type='text/javascript').
		var images=['/images/bg1.JPG','/images/bg2.JPG','/images/bg3.JPG', '/images/bg4.JPG'];
		var nextimage=0;
		doSlideshow();
	
		function doSlideshow(){
			if(nextimage>=images.length){nextimage=0;}
			$('.hometop')
			.fadeOut(500, function() {
				$('.hometop')
				.css('background-image', 'url("' + images[nextimage++] + '")')
				.fadeIn(500, function () {
					setTimeout(doSlideshow, 5000);
				});
			});
		}
