extends ../layouts/default


block content
	.container.container-first
		
		#home.section
			#content
				include ../partials/home
			#background
		
		#about.section
			include ../partials/about
			
		#services.section.services-section
			include ../partials/services

		#blog.section.blog-section
			include ../partials/blog
			
		#contact.section.contact-section
			include ../partials/contact
				
	script(src='/js/background.js')
