extends ../layouts/default

block intro
	.container
		h1 Services

block content
	.container
		.row
			h1 Electricity and Gas
		.row
			.col-sm-12
				ul
					li
						| Many businesses are unaware of their energy contract end dates. This enables Energy Suppliers 
						| to roll over the current energy agreement into another contract on high un-negotiated rates. 
						| At Buy Electricity Online we will monitor you throughout the term of the contract making sure 
						| that the transfer from your existing supplier to your new supplier goes through smoothly. 
						| Our free service lasts for the duration of the supply agreement.
					li We offer a bespoke quotation and therefore we need to see a bill.
				p: b What do to next?
				ul
					li
						| Fill in your details on the contact us page or simply fax your most recent electricity/gas 
						| bill to us on 0870 139 1555 with your contact details.
					li
						| To find out what savings your company can make on its energy spend all we ask is that you 
						| give us your permission to seek quotes on your behalf from the suppliers.

					li We will be back to you within 24 hours.
					li
						| We are so confident of our service that, unlike many other brokers, we do not ask you to 
						| enter into an agreement. All we require is a letter of authority to proceed. Buy Electricity 
						| Online approach all of the major suppliers on your behalf in order to obtain the most 
						| competitive quote. We then present the offers to you and advise you accordingly.
			.row
				h1 Smart Metering
			.row
				.col-sm-12
					p
						| We can help you to implement other cost-saving measures using bespoke tariff-monitoring 
						| software and hardware in the form of Smart Metering.
					ul
						li Smart Meters are the next generation of electricity and gas meters.
						li
							| They will bring about the end of estimated bills and meter readings, and provide customers 
							| and energy suppliers with accurate information on the amount of electricity and gas being used.
						li
							| Smart Meters will empower customers to make choices on how much energy they use. Suppliers 
							| will install two-way communication systems that display accurate real-time information on 
							| energy use.
						li
							| In addition, smart meters enable flexible tariffs that measure consumption over set time 
							| periods and improved accuracy of forecasting energy demand at different times of the day.
						li Smart Metering will enable monitoring and targeting and the reduction of energy costs.
						li
							| We can arrange for a site survey to evaluate the cost of the installation of Smart Metering 
							| at your sites.
