extends ../layouts/default

block intro
	.container
		h1 Smart Metering

block content
	.container
		.row
			.col-sm-12
				p
					| We can help you to implement other cost-saving measures using bespoke tariff-monitoring 
					| software and hardware in the form of Smart Metering.
				ul
					li Smart Meters are the next generation of electricity and gas meters.
					li
						| They will bring about the end of estimated bills and meter readings, and provide customers 
						| and energy suppliers with accurate information on the amount of electricity and gas being used.
					li
						| Smart Meters will empower customers to make choices on how much energy they use. Suppliers 
						| will install two-way communication systems that display accurate real-time information on 
						| energy use.
					li
						| In addition, smart meters enable flexible tariffs that measure consumption over set time 
						| periods and improved accuracy of forecasting energy demand at different times of the day.
					li Smart Metering will enable monitoring and targeting and the reduction of energy costs.
					li
						| We can arrange for a site survey to evaluate the cost of the installation of Smart Metering 
						| at your sites.
