h1 About us
.row
	.col-xs-12
		.content-box
			p
				| Newgen is an Independent Energy Adviser, dedicated to providing impartial advice on 
				| Energy Procurement, Energy Management, The Carbon Reduction Commitment, The Climate Change Levy, Green 
				| and Renewable Energy, Energy Audits and Smart Metering.
			p All of our customers have a dedicated account manager.
			p This manager will be available to help with all aspects of energy advice.
			p We keep our customers on merit, they are not bound by any written agreement.
			p Newgen are proud Charter members of the Anthropocene.
			p Newgen promote the use of sustainable energy.
