include ../mixins/homepage-post
	
h1 Blog
.row
	.col-xs-12
		.content-box
			.col-sm-8.col-md-9
				if posts.results.length
					if posts.totalPages > 1
						h4 Showing 
							strong #{posts.first}
							|  to 
							strong #{posts.last}
							|  of 
							strong #{posts.total}
							|  posts.
							if posts.total > 2
								a(href='/blog')
									|  Click here to all blog posts
					else
						h4 Showing #{utils.plural(posts.results.length, '* post')}.
					.blog
						each post in posts.results
							+post(post)
					if posts.total > 2
						a(href='/blog')
							h3 See all blog posts
				else
					h3 There are no posts yet.
