.row
	.col-xs-12
		.content-box
			#logo-container
				img#logo(src='/images/NewgenTransparent.png').img-responsive
			#tagline-container
				#tagline-shadow
					h3.text-center#tagline Providing a comprehensive and competitive energy quote service to UK businesses
