.row
	.col-xs-12
		.content-box
			#logo-container
				img#logo(src='/images/NewgenTransparent.png').img-responsive
			h2.text-center#tagline Providing a comprehensive and competitive energy quote service to UK businesses
