h1 Our Services
.row
	.col-sm-6.content-box
		h3 Electricity and Gas
		ul
			li
				| Many businesses are unaware of their energy contract end dates. This enables Energy Suppliers 
				| to roll over the current energy agreement into another contract on high un-negotiated rates. 
				| At Newgen we will monitor you throughout the term of the contract making sure 
				| that the transfer from your existing supplier to your new supplier goes through smoothly. 
				| Our service lasts for the duration of the supply agreement.
			li We offer a bespoke quotation and therefore we need to see a bill.
		p: b What do to next?
		ul
			li
				| Fill in your details on the contact us page or simply email your most recent electricity/gas 
				| bill to us on 
				a(href='mailto:info@newgenbrokers.co.uk') info@newgenbrokers.co.uk
				|  with your contact details.
			li
				| To find out what savings your company can make on its energy spend all we ask is that you 
				| give us your permission to seek quotes on your behalf from the suppliers.

			li We will be back to you within 24 hours.
			li
				| We are so confident of our service that, unlike many other brokers, we do not ask you to 
				| enter into an agreement. All we require is a letter of authority to proceed. Newgen 
				| approach all of the major suppliers on your behalf in order to obtain the most 
				| competitive quote. We then present the offers to you and advise you accordingly.
	.col-sm-6.content-box
		#uk-background
			#uk-background-content
				h3 Customised Energy Procurement
				p
					| With our extensive reach and vast experience, Newgen brokers can assist clients procure energy across 
					| all the electricity and natural gas markets in the UK. Currently we serve electricity and natural 
					| gas clients throughout the United Kingdom and in each electric Independent System Operator region, 
					| our nationwide reach enables us to place clients with the most appropriate energy suppliers for their 
					| unique needs. 
				p
					| No matter where your business is located or type of organisation you have, such as a large or small
					| single site or a multi-site operation, Newgen can provide services such as regular energy procurement,
					| renewable energy procurement, data management and online reporting. 
				p 
					| Newgen are prepared to use our extensive market reach to serve your needs and assist your business 
					| to capture the benefits of the deregulated energy market. 
					a.page-scroll(href='#contact') Contact us
					|  today for more information.
				img.img-responsive(src='/images/mindmap.png')
			
			
		
