$opacity: 0.85;
$aboutCol: rgba(51,102,0, $opacity);
$servicesCol: rgba(204,102,0, $opacity);
$blogCol: rgba(0,102,204, $opacity);
$partnersCol: rgba(250,40,20, $opacity);
$contactCol: rgba(51,102,0, $opacity);

body {
  color: #777777;
}

.container-first {
  margin-top: 91px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-padded {
  padding: 10px;
}


.section {
  padding: 15px;
  padding-top: 60px;
  border-top: 1px solid #eeeeee;
}

#home {  
  min-height: 500px;
  position: relative;
  padding: 0px;
  
  #logo-container {
	max-width: 300px;
	display: block;
	margin: auto;
	img {
	  margin-top: 30%;
	}
  }
  
  #content {
	position: absolute;
	z-index: 2;
	width: 100%;
  }
  
  #background {
	z-index: -1;
	top: 0;
	height: 100%;
	position: absolute;
	width: 100%;
	background: url('/images/bg1.JPG');
	background-size: cover;
  };
  
}


.navbar {
  margin-bottom: 0px;
}

h1 {
  margin-top: 10px;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
