// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

$logo-orange: #c84a05;
$logo-green: #025C11;
$primary: #337AB7;
$secondary: #379392;
$dark: #17301C;

$link-color: $primary;
$navbar-default-bg: $primary;
$navbar-default-brand-color: $dark;
$navbar-default-link-color: $dark;
$navbar-default-link-active-color: $dark;
